@import 'variables'
@import 'login'

body, html, #__nuxt, #__layout, #__layout > div
    height: 100%
    margin: 0
    overflow: hidden

#app
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: $color-primary

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    height: 100%

.hint
    position: absolute
    width: 100%

    bottom: 20px
    text-align: center

    font-size: 14px

kbd
    display: inline-block
    padding: 4px 6px 4px 8px
    margin: 0 2px
    border: 1px solid #dedede
    border-radius: 3px

    font-family: 'Anonymous Pro', monospace
    font-weight: 400

.background
    position: absolute
    top: 0
    left: 0

.navigation
    position: absolute
    right: 0
    top: 0

.time
    font-family: 'Anonymous Pro', monospace

.navigation ul
    list-style: none
    padding: 0
    margin: 16px

.navigation li
    display: inline-block
    margin-left: 20px
